/* ButtonCustom.css */

.custom-button {

  background-color: #ff4a52;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 0px #ffffff;
  color: #ffffff;
 
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
  line-height: 22.5px;
  padding: 9px 22.5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}

.custom-button:hover {
  background-color: #ff3841;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}
